/* Стили для заголовка и навигации */
.header {
    background-color: #F0F8FF;
    text-align: center;
    padding: 20px;
}

.header .logo img {
    height: 135px;
}

.header .phone p {
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
    text-align: right;
}

.header .phone img {
    width: 50px;
    height: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #101f3c;
    margin: 0;
}

.navigation li {
    margin: 0 15px;
}

.navigation li a {
    font-family: PFDinTextCondPro;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navigation li a:hover {
    background: #e42640;
    color: #fff;
}

.company-name {
    color: Navy;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.category-table {
    width: 100%;
    margin: 20px 0;
}

.category-table td {
    padding: 10px;
}

.auth-form {
    margin: 20px 0;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 2px solid #cacaca;
    font-size: 24px;
}

.auth-form .btn-new {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #7B68EE;
    box-shadow: 0 5px 0 #003CC5;
    font-size: 22pt;
    cursor: pointer;
}

.auth-form .btn-new:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}