/* Подключение шрифтов */
@font-face {
	font-family: "PFDinTextCondPro";
	src: url("../fonts/PFDinCondensedRegular/PFDinCondensedRegular.eot");
	src: url("../fonts/PFDinCondensedRegular/PFDinCondensedRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PFDinCondensedRegular/PFDinCondensedRegular.woff") format("woff"),
		url("../fonts/PFDinCondensedRegular/PFDinCondensedRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

/* font-family: "PFDinCondensedMedium"; */
@font-face {
	font-family: "PFDinTextCondPro";
	src: url("../fonts/PFDinCondensedMedium/PFDinCondensedMedium.eot");
	src: url("../fonts/PFDinCondensedMedium/PFDinCondensedMedium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PFDinCondensedMedium/PFDinCondensedMedium.woff") format("woff"),
		url("../fonts/PFDinCondensedMedium/PFDinCondensedMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

/* font-family: "PTSerifItalic"; */
@font-face {
	font-family: "PTSerif";
	src: url("../fonts/PTSerifItalic/PTSerifItalic.eot");
	src: url("../fonts/PTSerifItalic/PTSerifItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PTSerifItalic/PTSerifItalic.woff") format("woff"),
		url("../fonts/PTSerifItalic/PTSerifItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'pf_din_text_cond_proregular';
	src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
	src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfdintextcondpro-regular-webfont.woff2') format('woff2'),
		url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
		url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
		url('../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@font-face {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
}

/* font-family: "BeerRegular"; */
@font-face {
	font-family: "BeerRegular";
	src: url("../fonts/BeerRegular/BeerRegular.eot");
	src: url("../fonts/BeerRegular/BeerRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BeerRegular/BeerRegular.woff") format("woff"),
		url("../fonts/BeerRegular/BeerRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "KelsonSansRegular";
	src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot");
	src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/KelsonSansRegular/KelsonSansRegular.woff") format("woff"),
		url("../fonts/KelsonSansRegular/KelsonSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "PFDinCondensedLightItalic"; */
@font-face {
	font-family: "PFDinCondensedLightItalic";
	src: url("../fonts/PFDinCondensedLightItalic/PFDinCondensedLightItalic.eot");
	src: url("../fonts/PFDinCondensedLightItalic/PFDinCondensedLightItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PFDinCondensedLightItalic/PFDinCondensedLightItalic.woff") format("woff"),
		url("../fonts/PFDinCondensedLightItalic/PFDinCondensedLightItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* Сброс стилей для списков */
ul,
ol {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

/* Основные стили для заголовков и абзацев */
h1,
h2,
h3,
h4,
p,
.h1,
.h2,
.h3,
.h4 {
	line-height: normal;
	margin: 0;
	padding: 0;
}

/* Высота html и body */
html,
body {
	height: 100%;
}

body {
	line-height: normal;
	color: #000;
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
}

/* Контейнер */
.container {
	width: 1200px;
	margin: 0 auto;
}

/* Основной фон и текст */
.body {
	color: #fff;
}

/* Стили для заголовка */
.header {
	background-color: #fff;
}

a.logo {
	padding-top: 30px;
	margin-bottom: 25px;
	color: #000000;
	font-size: 36px;
	/* Приближение из-за подстановки шрифтов */
	font-weight: 500;
	text-align: left;
	text-decoration: none;
	display: block;
}

a.logo:visited,
a.logo:hover {
	text-decoration: none;
}

.logo img {
	height: 135px;
}

/* Стили для телефона */
.phone {
	display: block;
	float: right;
	text-align: right;
	margin-top: 50px;
	margin-left: 130px;
	margin-right: 130px;
}

.nphone {
	font-family: 'Ubuntu';
	font-size: 24px;
	font-weight: bold;
	color: #FFD700;
	text-align: right;
}

p.time {
	display: block;
	padding-left: 12px;
	margin-left: 13px;
	font-family: Arial;
	color: #FFD700;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

/* Стили для ссылки "звонок" */
a.zv {
	color: #0084ff;
	text-decoration: none;
	/* Убираем подчеркивание */
	border-bottom: 1px dashed #0084ff;
	/* Добавляем свою линию */
}

a.zv:visited {
	border-bottom: none;
	/* Добавляем свою линию */
}

a.zv:hover {
	border-bottom: none;
	/* Убираем подчеркивание */
}

/* Стили для модального текста */
p.modal_p {
	font-family: PFDinTextCondPro;
	color: #000000;
	font-size: 16px;
	/* Приближение из-за подстановки шрифтов */
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
}

/* Стили для инпутов */
input#inp2,
input#phone2,
input#inp1,
input#phone1 {
	padding-left: 10px;
	margin: 5px 0 15px;
	border-width: 2px;
	border-color: #cacaca;
	border-style: solid;
	width: 100%;
	height: 46px;
	outline: none;
	/*// удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
	font-family: PFDinTextCondPro;
	color: #000;
	font-size: 24px;
	font-weight: 400;
	text-align: left;
}

input.placeholder {
	color: #b2b2b2;
}

/* Стили для кнопок */
input.button4,
a.button1,
a.button2,
input.button3 {
	display: block;
	font-family: "KelsonSansRegular";
	text-align: center;
	color: #fff;
	/* цвет текста */
	text-decoration: none;
	/* убирать подчёркивание у ссылок */
	border-radius: 25px;
	background: #e42640;
	/* фон кнопки */
	padding: .7em 2em;
	/* отступ от текста */
	outline: none;
	/* убирать контур в Mozilla */
}

input.button4:hover,
a.button1:hover,
a.button2:hover,
input.button3:hover {
	background: transparent;
	border-width: 2px;
	border-color: #e42640;
	color: #e42640;
}

input.button4:active,
a.button1:active,
a.button2:active,
input.button3:active {
	background: transparent;
	border-width: 2px;
	border-color: #e42640;
	color: #e42640;
}

/* Стили для навигации */
.part2 {
	background-color: #101f3c;
	text-transform: uppercase;
}

.navigation {
	list-style: none;
	/* Отключение отображения маркеров. */
	overflow: hidden;
}

.navigation li {
	float: left;
	/* Выстраивание элементов списка в один ряд. */
	text-align: center;
	width: 150px;
}

.navigation li a {
	font-family: PFDinTextCondPro;
	color: rgba(255, 255, 255, 0.9);
	font-size: 18px;
	/* Приближение из-за подстановки шрифтов */
	font-weight: 500;
	text-align: center;
	display: block;
	/* Изменение отображения на блочное  */
	padding: 10px 15px;
	/* Внутри блочные отступы. */
	letter-spacing: 1px;
	text-decoration: none;
	/* Устранение подчёркивания ссылок. */
	position: relative;
	/* Это необходимо при использовании Internet Explorer 6  */
}

.navigation li a:hover {
	background: #e42640;
	/* Цвет блока при наведении курсора. */
	color: #fff;
	/* Цвет текста при наведении курсора. */
}

/* Стили для разделов */
.part3,
.part4,
.part5,
.part6,
.part7,
.part8,
.part9,
.part10,
.part11,
.part12 {
	padding: 20px;
}

.part1 {
	background-image: url(../img/11111.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
}

.part3 {
	background-position: left;
	height: 460px;
}

.part5 {
	background-color: #f5f5f5;
	text-align: center;
}

.part7,
.part12 {
	background-color: #101f3c;
	padding: 40px;
}

.part7 p,
.part12 p {
	font-family: PTSerif;
	color: rgba(255, 255, 255, 0.9);
	font-size: 36px;
	font-style: italic;
	line-height: 50px;
	text-align: center;
}

/* Стили для заголовков */
p.all_zag {
	font-family: “KelsonSansRegular”;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	margin: 30px 0;
}

/* Стили для новостей */
p.pnews,
p.pnews1 {
	font-family: Arial;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	margin-bottom: 15px;
}

.part4 img,
.part8 img {
	float: left;
	height: auto;
	margin-right: 20px;
}

.part5 .plus img {
	display: block;
	margin: 0 auto;
}

.part5 .plus p,
.part6 span,
.part8 span {
	font-family: Arial;
	color: #555555;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.16px;
	line-height: 22px;
	text-align: center;
}

.part5 .plus p {
	margin-top: 30px;
}

.part6 .slider p {
	font-family: “KelsonSansRegular”;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-size: 16px;
	margin: 20px 0 5px;
}

.part8 .otztext p {
	font-family: “PFDinCondensedLightItalic”;
	color: #000000;
	font-size: 20px;
	/* Приближение из-за подстановки шрифтов */
	font-style: italic;
	line-height: 24px;
	/* Приближение из-за подстановки шрифтов */
	text-align: left;
}

.part8 .otztext {
	margin: 19px 0 30px;
	padding: 25px 39px;
	background-color: #f5f5f5;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.otzinfo {
	margin-top: 40px;
}

.otpname,
p.data,
p.rs {
	font-family: Arial;
	font-size: 12px;
	color: #555;
}

a.newstext {
	font-family: “KelsonSansRegular”;
	font-size: 18px;
	text-decoration: none;
	color: #000;
}

a.newstext:hover {
	text-decoration: underline;
}

/* Стили для карты */
.part11 .map {
	width: 100%;
	position: absolute;
	opacity: 0.99;
}

.part11 .addressmap {
	z-index: 30000;
	margin-top: 100px;
	background-color: rgba(255, 255, 255, 0.7);
	/* Цвет фона и значение прозрачности */
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
	padding: 35px;
}

.part11 .addressmap p,
.part11 .addressmap span,
.part11 .addressmap a {
	font-family: “KelsonSansRegular”;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 400;
	font-size: 16px;
	color: #555;
	padding-bottom: 30px;
}

/* Стили для кнопки обратного звонка */
.call_back {
	transform: rotate(-90deg);
	position: fixed;
	/*фиксированная позиция кнопки при прокрутке*/
	z-index: 999;
	right: 0;
	/*отступ справа*/
	top: 35%;
	/*отступ сверху*/
	margin-right: -45px;
	/*отрицательный отступ справа */
}

/*Стили для ссылки*/
.call_back a {
	color: #fff;
	background: #e42640;
	font-family: “KelsonSansRegular”;
	font-size: 1.2em;
	/*размер шрифта*/
	text-align: center;
	/*выравнивание по центру*/
	padding: 10px 20px;
	/*внутренние отступы*/
	border-radius: 25px;
	/*радиус скругления углов*/
	border: 1px solid #fff;
	/*рамка вокруг кнопки*/
	text-decoration: none;
	outline: none;
	/* убирать контур в Mozilla */
}