header {
    background: #00274d url('/img/banner.png') center center/cover no-repeat;
    color: #fff;
    padding: 10px 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.denis-color {
    background-color: #00274d;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #c0c0c0;
}

.contact-info {
    color: #fff;
    font-weight: bold;
}

.main-heading {
    color: #00274d;
    text-align: center;
    margin-top: 20px;
}

.paragraph-text {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.paragraph-text p {
    text-align: justify;
    margin-bottom: 15px;
}