header{
    background: black;
    display: flex;
}
.phone-number img,
.working-hours img {
    margin-right: 10px;
}
.phone-number,
.working-hours {
    display: flex;
    align-items: center;
}

.main-content{
display: flex;
}
.main-nav{
    background-color: navy;
}