* {
	margin: 0;
	padding: 0;
}


body,
html {
	margin: 0px;
	padding: 0px;
	background-attachment: fixed;
	font-family: Helvetica, Arial;

	background: #c7b39b url(../fon2.jpg);
	/* Цвет фона и путь к файлу */
	color: #483D8B;
	/* Цвет текста */

}

.part2 {
	background-color: #101f3c;
	text-transform: uppercase;

}

.navigation {
	list-style: none;
	/* Отключение отображения маркеров. */
	overflow: hidden;
}

.navigation li {

	float: left;
	/* Выстраивание элементов списка в один ряд. */
	text-align: center;
	width: 170px;
}

.navigation li a {

	font-family: PFDinTextCondPro;
	color: rgba(255, 255, 255, 0.9);
	font-size: 18px;
	/* Приближение из-за подстановки шрифтов */
	font-weight: 500;
	text-align: center;
	display: block;
	/* Изменение отображения на блочное  */
	padding: 10px 15px;
	/* Внутри блочные отступы. */
	letter-spacing: 1px;
	text-decoration: none;
	/* Устранение подчёркивания ссылок. */
	position: relative;
	/* Это необходимо при использовании Internet Explorer 6  */
}

.navigation li a:hover {
	background: #e42640;
	/* Цвет блока при наведении курсора. */
	color: #fff;
	/* Цвет текста при наведении курсора. */
}

.container {
	width: 1050px;
}

.body {
	font-size: 16px;
	text-align: center;
	color: 2F4F4F;
}

#maket {
	z-index: 0;
	width: 830px;
	margin: 0 auto;
}

.a,
.b {
	font-size: 24px;
	width: 150px
}

.b {
	position: relative;
	left: -3px;
	top: -40;
	color: 2F4F4F;
	z-index: +1;
}

.a1,
.b1 {
	font-size: 24px;
	width: 100px text-align:center
}

.b1 {
	position: relative;
	left: -2px;
	top: -41;
	color: 2F4F4F;
	z-index: +1;
}

.a,
.a1 {
	color: 2F4F4F
}

#dynamic {
	z-index: 101;
}


A:link {
	font-weight: bold;
	color: #2F4F4F;
}

A:visited {
	font-weight: bold;
	color: #2F4F4F;
}

A:active {
	font-weight: bold;
	color: #2F4F4F;
}

A:hover {
	font-weight: bold;
	color: #2F4F4F;
}

.style1 {
	color: #8B0A50;
	font-weight: bold;
	font-family: Helvetica, Arial;
	font-size: 40px;
}

.style2 {
	font-size: 32px;
	text-align: center;
	text-indent: 30px color: #483D8B
}

.style3 {
	font-size: 16px;
	color: #FFFFFF;
}

.style4 {
	font-size: 20px;
	margin-left: 0px;
}

.style5 {
	font-size: 32px;
	color: #5F9EA0;
	text-indent: 40px
}

.style6 {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

.style7 {
	top: 50px;
	font-size: 80px;
	text-align: center;
	font-family: Helvetica, Arial;
	color: #800000;
}

.style8 {
	top: 50px;
	font-size: 28pt;
	text-align: center;
	font-family: Helvetica, Arial;
	color: #483D8B;
}

.styletable {
	font-size: 22px;
	color: 2F4F4F;
	margin-left: 20px;
	background-color: #800000;
}

.style2u {
	font-size: 16px;
	color: #000000;
}

.style3u {
	font-size: 28px;
	color: #2E8B57;
}

.style1,
.style2,
.style3,
.style7,
.style8,
.style3u {
	font-weight: bold
}

.btn-new {
	border: none;
	border-radius: 10px;
	text-decoration: none;
	color: white;
	background: #7B68EE;
	box-shadow: 0 5px 0 #003CC5;
	font-size: 22pt;
}

.btn-new:hover {
	background: #003CC5;
	box-shadow: none;
	position: relative;
	top: 5px;
}

.btn-new1 {
	box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
	transition: 0.5s;
	color: white;
	background: #7B68EE;
	font-size: 20pt;
}

.btn-new1:hover {
	transform: translate(0, -3px);
	box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}